@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat&display=swap');

* {
    margin: 0;
    padding: 0;
    outline: 0;
    border: 0;
}

h1, h2, h3, h4, button, span, label {
    font-family: 'Bebas Neue', cursive;
}

p, ul {
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
}

:root {
    background-color: var(--marrom-medio);
    font-size: 1.125rem;
    --marrom-escuro: #302126;
    --marrom-claro: #705E64;
    --marrom-medio: #403036;
    /*--cinza: #656273;*/
    /*--vinho: #1D1016;*/
    --alterar: #FFD452;
    --vermelho: #FF2E5F;
    --permitir: #5ADB94;
    --visualizar: #24C0EB;
}

body {
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    display: flex;
}

main {
    width: 80vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav {
    width: 30%;
    height: 100%;
    background-color: var(--marrom-claro);
    color: white;
}

section {
    height: 100%;
    width: 80%;
    background-color: #302126;
}