/* https://cssloaders.github.io/ */
@import url('/config/global-style.css');

h1 {
    font-size: 2rem;
    color: white;
}

/* NAV INICIO */

.nav__header {
    height: 20%;
    justify-content: center;
    align-items: center;
    display: flex;
    box-sizing: border-box;
    border-bottom: 5px solid var(--vinho);
}

.nav__options {
    height: 60%;
    width: 80%;
    margin-inline: auto;
}

.nav__bottom {
    height: 20%;
}

.nav__options, ul, .nav__bottom {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}


.nav__profile {
    width: 80%;
    height: 90%;
    align-items: center;
    display: flex;
}

.profile__image {
    width: 100px;
    height: 100px;
    background-color: aliceblue;
}

.profile__data {
    width: 50%;
    height: 70%;
    margin-left: 5%;
    flex-direction: column;
    justify-content: center;
    display: flex;
}

.profile__data p {
    font-size: 0.9rem;
    margin-bottom: 5px;
}

.js-change-data {
    color: #6F95FF;
}

ul {
    list-style: none;
}



li:nth-child(n+1){
    margin-bottom: 40px;
}

li:nth-child(5) {
    margin-bottom: 0px;
}

li:hover {
    font-weight: bold;
    border-bottom: 3px solid var(--vinho);
}

/* NAV FIM */

/* SECTION INICIO */

section {
    height: 90%;
}

.section__header {
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.section__container {
    height: 75%;
    width: 90%;
    display: flex;
    flex-direction: column;
    background-color: var(--marrom-medio);
    margin-inline: auto;
    border-radius: 25px;
}

    /*  HEADER  SECTION */

.container__header {
    height: 10%;
    width: 95%;
    display: block;
    align-items: center;
    justify-content: space-around;
    background-color: var(--roxo);
    margin-inline: auto;
}


.atividade-center-header, .header__input {
    width: 100%;
    height: 100%;
    margin: auto;
    align-items: center;
    color: white;
    letter-spacing: 2px;
}

.atividade-center-header {
    justify-content: space-evenly;
    display: none;
}

.header__input {
    justify-content: center;
    display: flex;
}

/* INPUTS */

.container__input {
    height: 70%;
    border-radius: 50px;
    background-color: var(--marrom-extra-claro);
    border: 3px solid #B0B0B0;
    box-sizing: border-box;
}

.input__center {
    background-color: var(--marrom-extra-claro);
    padding-left: 15px;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.input__center::placeholder {
    font-style: italic;
    margin-left: 15px;
}

.input__filter {
    width: 25%;
    justify-content: center;
}

.container__input p {
    font-size: 0.7rem;
    font-style: italic;
    font-weight: bold;
    color: black;
}

.input__activity, .input__filter, .input__activity-filter, .input__acess-filter {
    height: 100%;
    display: flex;
    align-items: center;
    border-radius: 50px;
    border: 3px solid white;
    box-sizing: border-box;
}

.input__stick {
    width: 2px;
    height: 25px;
    background-color: black;
}

    /* ACTIVITY */

.container-activity {
    width: 80%;
    display: flex;
}

.input-activity {
    width: 50%;
}

.input__activity {
    width: 25%;
    display: flex;
    justify-content: space-evenly;
}

.input__activity-filter {
    justify-content: space-around;
    display: none;
    width: 30%;
}

.input__activity-filter p {
    font-size: 0.7rem;
    font-style: italic;
    font-weight: bold;
    color: black;
}

.input__activity-filter > img {
    width: 32px;
}

.input__activity-filter > .input__date {
    display: flex;
    align-items: center;
}

.input__date > img {
    width: 20px;
}

    /* ACESS */

.container-acess {
    width: 50%;
    display: none;
}

.input-acess {
    width: 70%;
    border-radius: 20px 0 0 20px;
}

.input__acess-filter {
    width: 60%;
    display: none;
    justify-content: space-evenly;
    align-items: center;
}

.input__permission {
    display: flex;
    align-items: center;
}

.input__acess-filter > img {
    width: 32px;
}

#filtro-input, #filtro-atividade-input {
    color: black;
    width: 50%;
    height: 25px;
}

/*
.opcoes-atividade {
    width: 20%;
    color: white;
    letter-spacing: 2px;
}
*/

    /* CONTAINER SECTION */

.container__main {
    height: 80%;
    width: 95%;
    display: flex;
    margin-inline: auto;
    box-sizing: border-box;
    flex-wrap: wrap;
    justify-content: space-between;
    overflow-y: scroll;
}


.container__main::-webkit-scrollbar {
    width: 5px;               /* width of the entire scrollbar */
    box-sizing: border-box;
}

.container__main::-webkit-scrollbar-track {
    background: var(--vinho); 
}


/* MODAL TOKEN INICIO */

.container-token {
    width: 100vw;
    height: 100vh;
    display: none;
    background: rgba(29, 16, 22, 0.5);
    position: absolute;
    backdrop-filter: blur(1px);
    -webkit-backdrop-filter: blur(1px);
    justify-content: center;
    align-items: center;
}

.center-token {
    width: 25%;
    height: 50%;
    background-color: white;
}

/* MODAL TOKEN FIM */

/* MODAL SOLICITAÇÕES E FUNCIONÁRIOS INICIO */

.caixa-card {
    width: 95%;
    height: 100px;
    display: none;
    margin: 25px auto 0 auto;
    background-color: white;
}
/*
.requests, .funcionario {
	display: none;
}
*/

.caixa-card p {
	font-size: 0.8rem;
}

.center-card {
	width: 95%;
	height: 100%;
	margin-inline: auto;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.texto-card {
	width: fit-content;
	display: flex;
	justify-content: center;
	flex-direction: column;
	height: 100%;
}

.buttons-card {
	height: 100%;
	width: 30%;
	display: flex;
	align-items: center;
}

.left-buttons-card, .right-buttons-card {
	width: 50%;
	height: 100%;
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
}

/* MODAL SOLICITAÇÕES E FUNCIONÁRIOS FIM */

/* MODAL ATIVIDADE ABERTA INICIO */

.open__activity {
    width: 45%;
    height: 350px;
    margin-top: 15px;
    background-color: white;
    border-radius: 20px;
    border: 5px solid #B0B0B0;
}

.open__activity p {
    color: black;
}

.open__head {
    height: 80%;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.open__bottom {
    height: 20%;
    width: 100%;
    align-items: center;
    display: flex;
}

.bottom__button {
    height: 90%;
    width: 50%;
    margin-inline: auto;
    background-color: var(--marrom-claro);
    border-radius: 50px;
    justify-content: center;
    display: flex;
    align-items: center;
    letter-spacing: 1px;
}

.head__left, .head__right {
    width: 50%;
    height: 100%;
    padding: 5px;
    box-sizing: border-box;
}

.head__left {
    justify-content: space-evenly;
    display: flex;
    flex-direction: column;
}

.activity__text {
    height: fit-content;
    width: 100%;
    margin-left: 5px;
}

.head__right {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.js-click-image {
    width: 100%;
    height: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--marrom-claro);
    margin-bottom: 10px;
}
/*
.atividade-aberta {
    width: 85%;
    height: 150px;
    display: none;
    margin: 25px auto 0 auto;
    background-color: white;
    justify-content: center;
}

.center-card-atividade {
    width: 95%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-inline: auto;
}

.header-card-atividade {
    width: 95%;
    height: 50%;
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.section-card-atividade {
    width: 95%;
    height: 50%;
    align-items: center;
    display: flex;
}

.section-card-atividade  {
    border-top: 1px solid black;
}

.section-card-atividade >  img {
    height: 90%;
}

.info-ticket-atividade-aberta {
    width: 50%;
    margin-left: 15px;
}

.info-ticket-atividade-aberta  > div {
    display: flex;
}

.info-ticket-atividade-aberta p {
    margin-left: 5px;
}

.conteudo-atividade-aberta > div {
    display: flex;
}

.atividade-aberta span {
    font-weight: bold;
    font-size: 0.8rem;
    font-family: 'Montserrat', sans-serif;
}

.atividade-aberta p {
    font-size: 0.8rem;
}
*/

/* MODAL ATIVIDADE ABERTA FIM */

/* MODAL ATIVIDADE FECHADO INICIO */


.close__activity {
    width: 45%;
    height: 470px;
    margin-top: 15px;
    background-color: white;
    border-radius: 20px;
    border: 5px solid #B0B0B0;
}

.close__activity p {
    color: black;
}

.close__head {
    height: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.close__head p {
    color: black;
}

.close__bottom {
    height: 50%;
    width: 100%;
    padding: 5px 0px 5px 0px;
    background-color: var(--marrom-extra-claro);
    box-sizing: border-box;
    align-items: center;
    display: flex;
    border-radius: 0 0px 15px 15px;
}

.close__left {
    width: 50%;
    height: 95%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-right: 1px black solid;
}

.close__right {
    width: 50%;
    height: 95%;
    flex-direction: column;
    display: flex;
    justify-content: space-between;
    border-left: 1px black solid;
    padding-inline: 10px;
}

.close__image {
    width: 75px;
    height: 75px;
    background-color: white;
    border-radius: 50px;
    display: flex;
    justify-content: center;
}

.close__image > img {
    width: 70px;
    height: 70px;
}

.close__button {
    width: 50%;
    height: 35px;
    background-color: var(--marrom-claro);
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.close__date {
    height: fit-content;
    width: 100%;
    color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.close__date > img {
    width: 35px;
    height: 35px;
}

.atividade-fechada {
    display: none;
}

.card-atividade-fechado {
    width: 90%;
    height: 450px;
    margin: 25px auto 0 auto;
    background-color: #D9D9D9;
    border-radius: 20px;
    display: none;
}

/*
.card-atividade-fechado * {
    font-family: 'Montserrat', sans-serif;
}

.top-fechado {
    width: 90%;
    height: 50%;
    margin-inline: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.top-fechado > img {
    height: 75px;
}

.bottom-fechado {
    width: 100%;
    height: 50%;
    background-color: var(--cinza);
    border-radius: 0 0px 20px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.left-top-fechado {
    width: 45%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.left-top-fechado > div {
    display: flex;
    margin-bottom: 10px;
}

.left-top-fechado > div span {
    font-weight: bold;
    margin-right: 5px;
}

.left-top-fechado > p{
    width: fit-content;
    color: var(--cinza);
    font-weight: bold;
    border-bottom: 1px solid var(--cinza);
}

.right-top-fechado {
    width: 45%;
    height: 90%;
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSbTHeHJZVf7_H5Y81VaKZJBCSmJdEqLFgQ0Q&usqp=CAU');
    object-fit: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.margin-bottom-fechado {
    margin-inline: auto;
    width: 90%;
    height: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left-bottom-fechado, .right-bottom-fechado {
    width: 45%;
    height: 100%;
    color: white;
    padding-top: 5%;
}

.stick {
    width: 1%;
    height: 50%;
    background-color: white;
}

.left-bottom-fechado > h4 {
    text-align: center;
    margin-bottom: 5px;
   
}

.left-bottom-fechado > p {
    text-align: left;
    margin-bottom: 5px;
}

.left-bottom-fechado  > a {
    border-bottom: 1px solid white;
}

.right-bottom-fechado > h4 {
    text-align: center;
    margin-bottom: 5px;
}

.right-bottom-fechado > p {
    text-align: left;
}

.bottom-margin-fechado {
    height: 20%;
    width: 50%;
    border-radius:40px 40px 0 0 ;
    margin-inline: auto;
    background-color: #D9D9D9;
    display: none;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

/*
.atividade-fechada {
    width: 500px;
    max-width: 95%;
    height: 350px;
    display: none;
    margin: 25px auto 0 auto;
    background-color: white;
    justify-content: center;
}

.atividade-fechada p {
    font-size: 0.8rem;
}

.atividade-fechada span {
    font-weight: bold;
    font-size: 0.8rem;
    font-family: 'Montserrat', sans-serif;
}

.status-servico-atividade {
    height: 15%;
    width: 95%;
    display: flex;
    border-top: 1px solid black;
    justify-content: space-evenly;
    padding-top: 5px;
    align-items: center;
}

.status-servico-atividade > .status {
    display: flex;
}

.datas-atividades {
    display: flex;
    width: fit-content;
    height: 100%;
    flex-direction: column;
    justify-content: center;
}

.datas-atividades > div {
    display: flex;
}

.status-servico-atividade div p {
    margin-left: 5px;
}

.conteudo-servico-atividade {
    border-top: 1px solid black;
    display: flex;
    height: 30%;
    width: 95%;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 10px;
}

.conteudo-servico-atividade > img {
    width: 85px;
    height: 75px;
}

.conteudo-atividade {
    width: fit-content;
    height: 100%;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.conteudo-atividade div {
    display: flex;
}

.conteudo-atividade div p {
    margin-left: 5px;
}

.caixa-atividade {
    padding-top: 5px;
    border-top: 1px solid black;
    width: 95%;
    height: 20%;
    display: flex;
    align-items: center;
	justify-content: space-between;
}

.center-atividade-fechada {
    margin-inline: auto;
    width: 95%;
}

.buttons-card-atividade {
	height: 100%;
	display: flex;
	align-items: center;
}

.center-buttons-card {
	width: fit-content;
	height: 100%;
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
}
*/

/* MODAL ATIVIDADE FECHADO FIM */

/* MODAL AREA TICKET INICIO */

.modal-confirmardados {
    width: 100%;
    height: 90%;
    justify-content: center;
    align-items: center;
    display: none;
    text-align: center;
}

.center-modalconfirmardados {
    width: 70%;
    height: 85%;
    background-color: var(--roxo);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

.center-modalconfirmardados > img {
    margin: 15px 0 15px 0;
}

.texto-modalconfirmardados {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}

.caixa-geral {
    justify-content: space-between;
    width: fit-content;
    max-width: 40%;
    letter-spacing: 1px;
}

.caixa-geral  span {
    margin-right: 2px;
}

.caixa-geral > div {
    display: flex;
}

.texto-modalconfirmardados span {
   letter-spacing: 2px;
   font-size: 1rem;
}

.texto-modalconfirmardados p {
    font-size: 0.9rem;
}

.caixa-descricao  {
    width: 40%;
    text-align: start;
}

.textodescricao > p {
    text-align: justify;
}

.cadastrarticket-button {
    margin-top: 5%;
    background-color: var(--permitir);
    width: 50%;
    border-radius: 15px;
    color: black;
}

/* MODAL AREA TICKET FIM */

/* MODAL PERGUNTA INICIO */

.pergunta-mensagem {
    width: fit-content;
    padding: 15px;

    margin: 15px 15px 15px 15px;
    color: white;
    background-color: var(--roxo);
    border-radius: 50px;
    display: none;
}

/* MODAL PERGUNTA FIM */

/* MODAL RESPOSTA INICIO */

.resposta-mensagem {
    width: 250px;
    height: fit-content;
    color: black;
    background-color: white;
    margin: 15px 0 15px auto;
    padding-bottom: 5px;
    display: none;
}

.resposta-mensagem > p {
    text-indent: 5px;
}

.resposta-mensagem > div {
    margin-top: 10px;
    width: 225px;
    margin-inline: auto;
    background-color: var(--roxo);
    color: white;
    padding: 5px;
}

.resposta-mensagem > div > p {
    text-indent: 15px;
    font-size: 0.8rem;
}

/* MODAL RESPOSTA FIM */

/* MODAL ATIVAR CHAT INICIO */

.modal-ativarchat {
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    display: none;
    text-align: center;
    opacity: 0.9;
    border-radius: 25PX;
}

.center-modal {
    width: 500px;
    height: 255px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    vertical-align: middle;
}

.center-modal  p, div {
    color: white;
}

.center-modal > div {
    width: 150px;
    height: 35px;
    font-weight: bold;
    background-color: var(--azul);
    border-radius: 25px;
}

.center-modal > h2 {
    color: var(--azul);
}

/* MODAL ATIVAR CHAT FIM */

.send-message {
    width: 100%;
    height: 10%;
    display: none;
    box-sizing: border-box;
    justify-content: center;
}

.input-resposta {
    height: 35px;
    width: 255px;

    padding-inline: 15px;
}

.imagem-enviar {
    height: 35px;
    width: 35px;
    background-color: white;
}

.imagem-enviar > img {
    height: 35px;
    width: 35px;
}


.div-img {
    height: 35px;
    width: 255px;
    background-color: aquamarine;
    box-sizing: border-box;
}


input[type='file'] {
    display: none
}
  
  /* Aparência que terá o seletor de arquivo */

.label-img {
    background-color: #3498db;
    color: #fff;
    cursor: pointer;
    padding-inline: 15px;
    display: none;
    height: 35px;
    width: 255px;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    letter-spacing: 2px;
}

.circle {
	width: 25px;
	height: 25px;
	border-radius: 100%;
	background-color: black;
}

button {
	background-color: aqua;
}


/* MODAL SELECIONAR FUNCIONÁRIO INICIO */

.selecionar-funcionario-caixa {
    width: 50%;
    height: 635px;
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: auto;
    bottom: auto;
    background-color: rgba(217, 217, 217, 0.45);
}

.center-selecionar-funcionario {
    width: 70%;
    height: 60%;
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 5%;
    text-align: center;
    flex-direction: column;
}

#x {
    margin-inline-start: 95%;
}

.caixa-button-selecionar-funcionar {
    width: 100%;
    height: 70%;
    margin-top: auto;
    justify-content: space-around;
    display: flex;
    align-items: center;
}

.selector-funcionario {
    width: 45%;
    height: 100%;
    overflow-y: scroll;
    background: #D9D9D9;
    box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.25);
}

.selector-funcionario::-webkit-scrollbar { 
    display: none;
}

.selector-funcionario > p {
    margin-top: 15px;
    border-bottom: 1px solid black;

}

.dados-funcionario {
    width: 45%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.dados-funcionario > * {
    margin-bottom: 10px;
}

.img-funcionario {
    width: 115px;
    height: 115px;
    border-radius: 100%;
    background-image: url("../imagens/team.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: center;
    background-color: white;
}

.dados-funcionario > button {
    width: 50%;
    height: 35px;
    font-family: 'Montserrat', sans-serif;
    font-size: 0.85rem;
    background-color: var(--permitir);
}


/* MODAL SELECIONAR FUNCIONÁRIO FIM */