.caixa-funcionario {
    width: 95%;
    height: 100px;
    display: none;
    margin: 25px auto 0 auto;
    background-color: white;
}

.caixa-funcionario p {
	font-size: 0.8rem;
}
.center-funcionario {
	width: 95%;
	height: 100%;
	margin-inline: auto;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.texto-funcionario {
	width: fit-content;
	display: flex;
	justify-content: center;
	flex-direction: column;
	height: 100%;
}

.buttons-funcionario {
	height: 100%;
	width: 30%;
	display: flex;
	align-items: center;
}

.left-buttons-funcionario, .right-buttons-funcionario {
	width: 50%;
	height: 100%;
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
}


.circle {
	width: 25px;
	height: 25px;
	border-radius: 100%;
	background-color: black;
}

button {
	background-color: aqua;
}

/* 
    BOTAO 
    https://codepen.io/alvarotrigo/pen/wvyvjva (botao 21)


 <label class="toggler-wrapper style-21">
<input type="checkbox" id="check">
<div class="toggler-slider">
    <div class="toggler-knob"></div>
</div>
</label>


<button onclick="check()">teste</button>


.toggler-wrapper {
	display: block;
	width: 45px;
	height: 25px;
	cursor: pointer;
	position: relative;
}

.toggler-wrapper input[type="checkbox"] {
	display: none;
}


.toggler-wrapper input[type="checkbox"]:checked+.toggler-slider {
	background-color: #44cc66;
}

.toggler-wrapper .toggler-slider {
	background-color: #ccc;
	position: absolute;
	border-radius: 100px;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	-webkit-transition: all 300ms ease;
	transition: all 300ms ease;
}

.toggler-wrapper .toggler-knob {
	position: absolute;
	-webkit-transition: all 300ms ease;
	transition: all 300ms ease;
}


.toggler-wrapper.style-21 input[type="checkbox"]:checked+.toggler-slider .toggler-knob {
	left: calc(100% - 19px - 3px);
	background-image: url(../imagens/shut-down-line-on.svg);
}

.toggler-wrapper.style-21 .toggler-slider {
	background-color: #eb4f37;
}

.toggler-wrapper.style-21 .toggler-knob {
	width: calc(25px - 6px);
	height: calc(25px - 6px);
	border-radius: 50%;
	left: 3px;
	top: 3px;
	background-color: #fff;
	background-image: url(../imagens/shut-down-line-off\ \(1\).svg);
	background-repeat: no-repeat;
	background-position: center;
}
*/